html,
body {
  height: 100%;
}

body {
  color: #fff;
  background-color: #00253a;
  font-family: sans-serif;
  padding: 60px 10px 10px 10px;
  margin: 0;
}

html * {
  box-sizing: border-box;
}

ul,li,p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}








