.TodoItem {
  color: gold;
  border: solid 3px gold;
  padding: 2px;
}

.TodoItem+.TodoItem {
  margin-top: 5px;
}

.TodoItem .flex__element {
  padding: 2px;
  /* border: solid 1px #aaa; */
}

.TodoItem .icon {
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}




