.flex__container {
  display: flex;
}
.flex__container.inline {
  display: inline-flex;
}
.flex__container.wrapp {
  flex-wrap: wrap;
}
.flex__container.wrapp_reversed {
  flex-wrap: wrap-reverse;
}
.flex__container.row {
  flex-direction: row;
}
.flex__container.row_reversed {
  flex-direction: row-reverse;
}
.flex__container.col {
  flex-direction: column;
}
.flex__container.col_reversed {
  flex-direction: column-reverse;
}
.flex__container.justify {
  justify-content: start;
}
.flex__container.justify_center {
  justify-content: center;
}
.flex__container.justify_end {
  justify-content: flex-end;
}
.flex__container.justify_start {
  justify-content: flex-start;
}
.flex__container.justify_around {
  justify-content: space-around;
}
.flex__container.justify_between {
  justify-content: space-between;
}
.flex__container.align {
  align-items: stretch;
}
.flex__container.align_base {
  align-items: baseline;
}
.flex__container.align_start {
  align-items: flex-start;
}
.flex__container.align_center {
  align-items: center;
}
.flex__container.align_end {
  align-items: flex-end;
}
.flex__container.c-align {
  align-content: stretch;
}
.flex__container.c-align_around {
  align-content: space-around;
}
.flex__container.c-align_between {
  align-content: space-between;
}
.flex__container.c-align_start {
  align-content: flex-start;
}
.flex__container.c-align_center {
  align-content: center;
}
.flex__container.c-align_end {
  align-content: flex-end;
}
.flex__element {
  padding: 2px;
}
.flex__element.ma {
  margin: auto;
}
.flex__element.order-0 {
  order: 0;
}
.flex__element.grow-0 {
  flex-grow: 0;
}
.flex__element.shrink-1 {
  flex-shrink: 0;
}
.flex__element.order-1 {
  order: 1;
}
.flex__element.grow-1 {
  flex-grow: 1;
}
.flex__element.shrink-2 {
  flex-shrink: 1;
}
.flex__element.order-2 {
  order: 2;
}
.flex__element.grow-2 {
  flex-grow: 2;
}
.flex__element.shrink-3 {
  flex-shrink: 2;
}
.flex__element.order-3 {
  order: 3;
}
.flex__element.grow-3 {
  flex-grow: 3;
}
.flex__element.shrink-4 {
  flex-shrink: 3;
}
.flex__element.order-4 {
  order: 4;
}
.flex__element.grow-4 {
  flex-grow: 4;
}
.flex__element.shrink-5 {
  flex-shrink: 4;
}
.flex__element.order-5 {
  order: 5;
}
.flex__element.grow-5 {
  flex-grow: 5;
}
.flex__element.shrink-6 {
  flex-shrink: 5;
}
.flex__element.order-6 {
  order: 6;
}
.flex__element.grow-6 {
  flex-grow: 6;
}
.flex__element.shrink-7 {
  flex-shrink: 6;
}
.flex__element.order-7 {
  order: 7;
}
.flex__element.grow-7 {
  flex-grow: 7;
}
.flex__element.shrink-8 {
  flex-shrink: 7;
}
.flex__element.order-8 {
  order: 8;
}
.flex__element.grow-8 {
  flex-grow: 8;
}
.flex__element.shrink-9 {
  flex-shrink: 8;
}
.flex__element.order-9 {
  order: 9;
}
.flex__element.grow-9 {
  flex-grow: 9;
}
.flex__element.shrink-10 {
  flex-shrink: 9;
}
.flex__element.order-10 {
  order: 10;
}
.flex__element.grow-10 {
  flex-grow: 10;
}
.flex__element.shrink-11 {
  flex-shrink: 10;
}
.flex__element.base-10-1 {
  flex-basis: 10%;
}
.flex__element.base-10-2 {
  flex-basis: 20%;
}
.flex__element.base-10-3 {
  flex-basis: 30%;
}
.flex__element.base-10-4 {
  flex-basis: 40%;
}
.flex__element.base-10-5 {
  flex-basis: 50%;
}
.flex__element.base-10-6 {
  flex-basis: 60%;
}
.flex__element.base-10-7 {
  flex-basis: 70%;
}
.flex__element.base-10-8 {
  flex-basis: 80%;
}
.flex__element.base-10-9 {
  flex-basis: 90%;
}
.flex__element.base-10-10 {
  flex-basis: 100%;
}
.flex__element.grid-10-1 {
  width: 10%;
}
.flex__element.grid-10-2 {
  width: 20%;
}
.flex__element.grid-10-3 {
  width: 30%;
}
.flex__element.grid-10-4 {
  width: 40%;
}
.flex__element.grid-10-5 {
  width: 50%;
}
.flex__element.grid-10-6 {
  width: 60%;
}
.flex__element.grid-10-7 {
  width: 70%;
}
.flex__element.grid-10-8 {
  width: 80%;
}
.flex__element.grid-10-9 {
  width: 90%;
}
.flex__element.grid-10-10 {
  width: 100%;
}
.flex__element.base-12-1 {
  flex-basis: 8.33333333%;
}
.flex__element.base-12-2 {
  flex-basis: 16.66666667%;
}
.flex__element.base-12-3 {
  flex-basis: 25%;
}
.flex__element.base-12-4 {
  flex-basis: 33.33333333%;
}
.flex__element.base-12-5 {
  flex-basis: 41.66666667%;
}
.flex__element.base-12-6 {
  flex-basis: 50%;
}
.flex__element.base-12-7 {
  flex-basis: 58.33333333%;
}
.flex__element.base-12-8 {
  flex-basis: 66.66666667%;
}
.flex__element.base-12-9 {
  flex-basis: 75%;
}
.flex__element.base-12-10 {
  flex-basis: 83.33333333%;
}
.flex__element.base-12-11 {
  flex-basis: 91.66666667%;
}
.flex__element.base-12-12 {
  flex-basis: 100%;
}
.flex__element.grid-12-1 {
  width: 8.33333333%;
}
.flex__element.grid-12-2 {
  width: 16.66666667%;
}
.flex__element.grid-12-3 {
  width: 25%;
}
.flex__element.grid-12-4 {
  width: 33.33333333%;
}
.flex__element.grid-12-5 {
  width: 41.66666667%;
}
.flex__element.grid-12-6 {
  width: 50%;
}
.flex__element.grid-12-7 {
  width: 58.33333333%;
}
.flex__element.grid-12-8 {
  width: 66.66666667%;
}
.flex__element.grid-12-9 {
  width: 75%;
}
.flex__element.grid-12-10 {
  width: 83.33333333%;
}
.flex__element.grid-12-11 {
  width: 91.66666667%;
}
.flex__element.grid-12-12 {
  width: 100%;
}
.flex__element.base-20-1 {
  flex-basis: 5%;
}
.flex__element.base-20-2 {
  flex-basis: 10%;
}
.flex__element.base-20-3 {
  flex-basis: 15%;
}
.flex__element.base-20-4 {
  flex-basis: 20%;
}
.flex__element.base-20-5 {
  flex-basis: 25%;
}
.flex__element.base-20-6 {
  flex-basis: 30%;
}
.flex__element.base-20-7 {
  flex-basis: 35%;
}
.flex__element.base-20-8 {
  flex-basis: 40%;
}
.flex__element.base-20-9 {
  flex-basis: 45%;
}
.flex__element.base-20-10 {
  flex-basis: 50%;
}
.flex__element.base-20-11 {
  flex-basis: 55%;
}
.flex__element.base-20-12 {
  flex-basis: 60%;
}
.flex__element.base-20-13 {
  flex-basis: 65%;
}
.flex__element.base-20-14 {
  flex-basis: 70%;
}
.flex__element.base-20-15 {
  flex-basis: 75%;
}
.flex__element.base-20-16 {
  flex-basis: 80%;
}
.flex__element.base-20-17 {
  flex-basis: 85%;
}
.flex__element.base-20-18 {
  flex-basis: 90%;
}
.flex__element.base-20-19 {
  flex-basis: 95%;
}
.flex__element.base-20-20 {
  flex-basis: 100%;
}
.flex__element.grid-20-1 {
  width: 5%;
}
.flex__element.grid-20-2 {
  width: 10%;
}
.flex__element.grid-20-3 {
  width: 15%;
}
.flex__element.grid-20-4 {
  width: 20%;
}
.flex__element.grid-20-5 {
  width: 25%;
}
.flex__element.grid-20-6 {
  width: 30%;
}
.flex__element.grid-20-7 {
  width: 35%;
}
.flex__element.grid-20-8 {
  width: 40%;
}
.flex__element.grid-20-9 {
  width: 45%;
}
.flex__element.grid-20-10 {
  width: 50%;
}
.flex__element.grid-20-11 {
  width: 55%;
}
.flex__element.grid-20-12 {
  width: 60%;
}
.flex__element.grid-20-13 {
  width: 65%;
}
.flex__element.grid-20-14 {
  width: 70%;
}
.flex__element.grid-20-15 {
  width: 75%;
}
.flex__element.grid-20-16 {
  width: 80%;
}
.flex__element.grid-20-17 {
  width: 85%;
}
.flex__element.grid-20-18 {
  width: 90%;
}
.flex__element.grid-20-19 {
  width: 95%;
}
.flex__element.grid-20-20 {
  width: 100%;
}
.flex__element.align {
  align-self: stretch;
}
.flex__element.align_start {
  align-self: flex-start;
}
.flex__element.align_center {
  align-self: center;
}
.flex__element.align_end {
  align-self: flex-end;
}
