.App {}

.App__container {
  text-align: center;
}

.App__head {
  color: #eee;
  border: solid 1px #111;
  background-color: #333;
  min-height: 100px;
}

.App__body {
  color: #333;
  border: solid 1px #ddd;
  background-color: #eee;
  padding: 50px;
}
