.button {
  border: none;
  line-height: 20px;
  padding: 10px;
}

.button:hover,
.button:focus {
  color: #fff;
}

.button:hover {
  background-color: #c00;
}

.button:focus {
  background-color: #a00;
}

.button.full {
  width: 100%;
}
